{% extends "analysis/base.html" %}
{% load static %}
{% block content %}
    <p>Link to Power Bi folder on google drive <a href="https://drive.google.com/drive/folders/1ugXQrabFfpAWFNGDLD5Su82KMPQQe3Nz"> Microsoft Power BI </a>.</p>
    <p>Link to Tableau folder on google drive <a href="https://drive.google.com/drive/folders/1CD03UiWFPwyY5oAwn_IDO2TqeHbz6INx">Tableau Public</a>.</p>
    <p> Data analysis and visualization using Pandas and Matplotlib both python libraries is on the way.</p>
{% endblock content %}
