{% extends "analysis/base.html" %}
{% load static %}
{% block content %}
    <p>Explore our latest data visualization dashboards on <a href="https://public.tableau.com/profile/healthcare.project#!/">Tableau Public</a>.</p>
    <!--<p>Power BI and customized charts are also on the way.</p>-->
    <p>Explore our data visualization dashboard created using <a href="https://app.powerbi.com/reportEmbed?reportId=e410a281-333f-4e04-bf93-d098a314dca1&autoAuth=true&ctid=d41fdab1-7e15-4cfd-b5fa-7200e54deb6b&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWNhbmFkYS1jZW50cmFsLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9"> Microsoft Power BI </a>.</p>
    <p> Data analysis and visualization using standard python library together with both Pandas and Matplotlib also python libraries is on the way.</p>
{% endblock content %}