{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block header_links %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}"/>
{% endblock header_links %}

{% block content %}
    <form method="POST" action="/data/" class="form-group" autocomplete="off">
        {% csrf_token %}
        <div class="form-group row">
            <label for="start_date" class="col-md-3 col-lg-2 col-form-label"> Start Date :</label>
            {% render_field form.start_date type="text" id="start_date" class="col-md-3 col-lg-2 form-control" placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd" %}
        </div>
        <div class="form-group row">
            <label for="end_date" class="col-md-3 col-lg-2 col-form-label"> End Date :</label>
            {% render_field form.end_date type="text" id="end_date" class="col-md-3 col-lg-2 form-control" placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd" %}
        </div>
        <div class="form-group row">
            <label for="db_option" class="col-md-3 col-lg-2 col-form-label"> Select Database :</label>
            {% render_field form.db_choice type="select" id="db_choice" class="col-md-3 col-lg-2 form-control" placeholder="Select Database"%}
        </div>
        <button class="btn btn-primary" type="submit">Fetch Data</button>
    </form>

    {% for message in messages %}
        <div class="alert alert-warning">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}

    {% if not fb_data.empty %}
        <small>Scroll right/left for all available columns.</small>
        <div id="toolbar">
            <button id="remove" class="btn btn-danger">Remove</button>
            <button id="removeall" class="btn btn-danger">Remove All</button>
        </div>
        <table class="table table-responsive table-striped table-bordered"
               id="table"
               data-toggle="table"
               data-pagination="false"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-export="true"
               data-click-to-select="true"
               data-search-align="right"
               data-show-columns="true"
               data-show-toggle="true"
               data-show-fullscreen="true"
               data-show-pagination-switch="true"
               data-pagination-pre-text="Previous"
               data-pagination-next-text="Next"
               data-pagination-h-align="left"
               data-pagination-detail-h-align="right"
               data-page-list="[10, 25, 50, 100, 500, All]"
               data-minimum-count-columns="2" >
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" data-field="state" data-checkbox="true" data-valign="middle"></th>
                    <th colspan="{{ col_count }}" data-align="center" id="table_header">Database: {{ selected_database }} Time Range: From {{ start_date }} to {{ end_date }} </th>
                </tr>
                <tr>
                    <th data-field="Index" data-sortable="true" data-switchable="false">Index</th>
                    {% for col in fb_data.columns %}
                        <th data-field="{{ col }}" data-sortable="true">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, record in fb_data.iterrows %}
                    <tr>
                        <td></td>
                        <td>{{ index }}</td>
                        {% for cell in record %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content %}

{% block footer_js %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'extensions/toolbar/bootstrap-table-toolbar.min.js' %}"></script>
    <script>
        $('#start_date').datepicker({
            startDate: '2020-01-01',
            endDate: '+0d',
            autoclose: true,
        }).datepicker("update", "{{ start_date }}");
        $('#end_date').datepicker({
            startDate: '2020-01-01',
            endDate: '+0d',
            autoclose: true,
        }).datepicker("update", "{{ end_date }}");
        $('#db_choice').val('{{ selected_database }}');

        var table = $('#table')
        $('#remove').on('click',function () {
            var ids = $.map(table.bootstrapTable('getSelections'),function (row) {
                return row.Index
            })
            table.bootstrapTable('remove',{
                field:'Index',
                values: ids
            })
        })
        $('#removeall').on('click',function () {
            table.bootstrapTable('removeAll')
        })
    </script>
{% endblock footer_js %}