{% extends "analysis/base.html" %}
{% block content %}
    <h1>CanBeWell Analysis About Page</h1>
    <p>A reliable resource by Canadian health care providers to help you stay healthy</p>
    <p>Privacy Policy of CanBeWell Application</p>
    <p>No personally identifiable information is collected by this app. The app collects aggregate data on what devices, browsers, and geographic regions are accessing the app; and what items are clicked on in the app.
    This app is for patients and health care providers in Canada only. This app displays information about preventing diseases, or screening (finding diseases early), in Canadian adults 18 years and older. This app does not take into account a patient’s personal risk factors, family history, symptoms or other individual characteristics. The information provided is to help patients and providers find evidence-based recommendations for baseline prevention.
    The information and content provided by this application is for information purposes only. Nothing contained within this application is intended to replace the services of a physician or trained health care professional. If you have questions about any medical matter, you should consult your doctor or other health care provider. You hereby agree that you shall not make any health or medical related decision based in whole or in part on anything contained within the application without consulting your health care provider
    The application and all content is copyrighted. You are not allowed to copy, share or distribute. No part of the app can be used for sale.</p>
{% endblock content %}
