{% extends "analysis/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block header_links %}
    <link rel="stylesheet" href="{% static 'analysis/bootstrap-datepicker.css' %}"/>
{% endblock header_links %}

{% block content %}

    {% if user.is_authenticated %}
        <form method="POST" name="connection" class="form-group" autocomplete="off" style = "position:relative" >
            {% csrf_token %}
            <div class="form-group row">
                <label for="start_date" class="col-md-3 col-lg-2 col-form-label"> Start Date :</label>
                {% render_field form.start_date type="text" id="start_date" class="col-md-3 col-lg-2 form-control" placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd" %}
            </div>
            <div class="form-group row">
                <label for="end_date" class="col-md-3 col-lg-2 col-form-label"> End Date :</label>
                {% render_field form.end_date type="text" id="end_date" class="col-md-3 col-lg-2 form-control" placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd" %}
            </div>
            <input type="hidden" name="name" value="connection_form">
            <button class="btn btn-primary" type="submit">Connect to Firebase Database</button>
        </form>

        {% if start_date != "yyyy-mm-dd" %}
            <p>Time Range: {{ start_date }} to {{ end_date }} <br></p>
            <input class="btn btn-primary" type="button" value="Download Dataset" onclick="window.open('download')">
        {% endif %}
        <br><br>

        {% for message in messages %}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-responsive" border="1px">
            <small>Scroll right/left for all available columns.</small>
            <tr>
                <th>Index</th>
                <th>Firebase Json Index</th>
                <th>Age Range</th>
                <th>Age</th>
                <th>Browser</th>
                <th>City</th>
                <th>Date</th>
                <th>Device</th>
                <th>Gender</th>
                <th>Item</th>
                <th>Language</th>
                <th>Navigation</th>
                <th>OS</th>
                <th>Page view time</th>
                <th>Region</th>
                <th>Role</th>
                <th>Session id</th>
                <th>User id</th>

                {% if start_date %}
                    {% for index, record in fbdata.iterrows %}
                        <tr>
                            <td>{{ index }}</td>
                            {% for cell in record %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>

    {% else %}
        <p class="lead">Please <a href="{% url 'login' %}">log in</a> to access the data.</p>
    {% endif %}

{% endblock content %}

{% block footer_js %}
    <script src="{% static 'analysis/bootstrap-datepicker.js' %}"></script>
    <script>
        $('#start_date').datepicker({
            startDate: '2020-01-01',
            endDate: '+0d',
            autoclose: true,
        }).datepicker("update", "{{ start_date }}");
        $('#end_date').datepicker({
            startDate: '2020-01-01',
            endDate: '+0d',
            autoclose: true,
        }).datepicker("update", "{{ end_date }}");
    </script>
{% endblock footer_js %}