{% extends "analysis/base.html" %}
{% load static %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'analysis/jquery.datetimepicker.full.min.js' %}"></script>

    {% if validation %}
        <p><br>Hello, {{ email }}!<br><br><br></p>
        <form method="POST" name="connection">
            {% csrf_token %}
            <input type="hidden" name="name" value="connection_form">
            {{ form }}
            <button type="submit">Connect to Firebase Database</button>
        </form>


        {% if start_date %}
            <p><br>Time Range: {{ start_date }} to {{ end_date }} <br><br></p>
            <input type="button" value="Download Dataset" onclick="window.open('download')">
            <br><br>


            <table class="table table-responsive" border="1px">
                <small>Scroll right/left for all available columns.</small>
                <tr>
                    <th>index</th>
                    {% for data in fbdata %}
                        <th>{{ data }}</th>
                    {% endfor %}

                    {% for index, record in fbdata.iterrows %}
                        <tr>
                            <td>{{ index }}</td>
                            {% for cell in record %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        {% endif %}
    {% else %}
        <div class="content-section">
            <h3>Welcome to CANBeWell Admin Site</h2>
            <p class="lead">Please <a href="{% url 'firebase-login'%}">log in</a> to use the web app.</p>
        </div>
    {% endif %}
{% endblock content %}
