<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>DataAnalysis</title>
</head>
<body>
    <div class="row">
        <img src="data:image/png;base64, {{gender_distribution_uri}}" alt="gender_distribution" height="400", width="600">
        <img src="data:image/png;base64, {{median_category_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{most_popular_topics_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{french_gender_dis_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{english_gender_dis_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{visual_gender_bar_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{most_viewed_topics_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{mostviewedtopic_based_on_roles_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{common_used_devices_uri}}" alt="median_category" height="400", width="600">
        <img src="data:image/png;base64, {{popular_topics_languages_uri}}" alt="median_category" height="400", width="600">
    </div>

    <div class="row">
        <div class="col-3">
            {{ gender_distribution_table | safe }}
        </div>
      <!--   <div class="col-3">
            {{ median_category_table | safe }}
        </div> -->
        <div class="col-3">
            {{ most_popular_topics_table | safe }}
        </div>
        <div class="col-3">
            {{ french_gender_dis_table | safe }}
        </div>
        <div class="col-3">
            {{ english_gender_dis_table | safe }}
        </div>
       <!--  <div class="col-3">
            {{ mostviewedtopic_based_on_roles_table | safe }}
        </div> -->
       <!--  <div class="col-3">
            {{ popular_topics_languages_table | safe }}
        </div> -->

    </div>
   <style>
        table {border:1px solid #666;}
        tr {border-left:1px solid #666;border-top:1px solid #666;}
        td {border-right:1px solid #666;border-bottom:1px solid #666;}
        .bold {font-weight:700;}
        .green {color:#0d0;}
        .yellow{color:#ee0;}
        .purple{color:#DD22DD;}
        .red{color:#d00;}
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
